<div class="container-fluid p-5 bg-success text-light mt-5">
    <div class="row">
        <div class="col-md-4">
            <h1 ><i class="fa-solid fa-kitchen-set md-3"></i> COOKBOOK</h1>
            <p style="text-align: justify;" class="mt-4">Discover 100+ recipes in your hand with the best recipes. Help you to find the easiest way to cook</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-5 ">
            <h1>sign up for our news letter</h1>
            <div class="d-flex mt-3">
                <input type="text" class="form-control w-75">
                <button class="btn ms-3  btn-warning">subscribe</button>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                    <h4>Menu</h4>
                    <a routerLink="/" style="color: white; text-decoration: none;">Home</a><br>
                    <a routerLink="/about" style="color: white; text-decoration: none;">About</a><br>
                    <a routerLink="/" style="color: white; text-decoration: none;">Contact</a><br>
                    <a routerLink="/" style="color: white; text-decoration: none;">Recipes</a><br>

                </div>
                <div class="col-4">
                    <h4>Help</h4>
                    <a routerLink="/" style="color: white; text-decoration: none;">Privacy & Policy</a><br>
                    <a routerLink="/" style="color: white; text-decoration: none;">Terms of use </a><br>
                    
                </div>
                <div class="col-4">
                    <h4>Social</h4>
                    <a routerLink="/" style="color: white; text-decoration: none;">Instagram</a><br>
                    <a routerLink="/" style="color: white; text-decoration: none;">Facebook</a><br>
                    <a routerLink="/" style="color: white; text-decoration: none;">Twitter</a><br>
                    <a routerLink="/" style="color: white; text-decoration: none;">Youtube</a><br>
                </div>
            </div>

        </div>
    </div>
</div>