<app-header></app-header>
<div class="container">
    <div class="row w-100">
        <div class="col-md-6 bg-success d-flex justify-content-center align-items-center p-5">
            <img src="https://www.pngkit.com/png/full/87-870696_sabzigadi-story-organic-cookbook-healthy-and-delicious-food.png" alt="no-image" >
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-5 ">
            <h1 class="mt-4 mt-md-0">Welcome to Cookpedia</h1>
            <p class="mt-4">Discover 100+ recipe in your hand with the best recipe. <br> Help you to find the easiest way to cook. </p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-md-6 p-5 mt-5 ">
            <h1>About us</h1>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente tempore eius odio tenetur vero unde praesentium libero repellendus impedit ea ipsum consequuntur, velit delectus labore, ducimus dolor laudantium error?</p>

            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, vitae?</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, rem?</li>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperi.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, ab.</li>
                <button class="btn btn-success mt-3">Know more about us</button>
            </ul>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/046/822/681/small_2x/a-chef-in-uniform-holding-a-tray-of-food-isolated-on-a-transparent-background-png.png" alt="no image">
        </div>
    </div>
</div>
