<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <img src="https://labartisan.net/demo/PoultryFarm/poultry-farm-demo/images/resource/404.jpg" class="w-100" alt="">
            <h2 class="m text-secondary">Looks like you have lost the path</h2>
           <a routerLink="/">
                <button class="btn btn-warning rounded-0 mt-5 ms-md-5 shadow
                ">Back Home</button>
           </a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>